body {
	background-image: url("../images/search-background2.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

.characters {
width: 50vw;

}


img {
	width: 425px;
	height: 425px;
}