<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>


	<div id="character-container">
	<div class="characters">
		<a href="/characters/search">SEARCH FOR A CHARACTERS</a>
	</div>
	<div>
		{{#characters}}
		<img src="{{thumbnail}}" alt="">
		<br/ >
		{{name}}
		<br/ >
		{{description}}

		{{/characters}}
	</div>
</div>

<div id="book-container">
	<div class="books">
		<a href="/books/search">SEARCH FOR A COMIC BOOKS</a>
	</div>
	<div>
				{{#books}}
		<img src="{{thumbnail}}" alt="">
		<br/ >
		{{title}}
		<br/ >
		{{description}}

		{{/books}}
		
	</div>
</div>
	<button><a href="/" class="logout">Logout</a></button> 

</body>
</html>