<!DOCTYPE html>
<html lang="en">
<head>
	 <script src="/js/jquery.js" charset="utf-8"></script>
   <script src="/js/books.js" charset="utf-8"></script>
   <script src="/js/characters.js" charset="utf-8"></script>
<link rel='stylesheet' href='/css/home.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<meta charset="UTF-8">
	<title>HOME</title>
</head>
<body>

	<div id="characters-section">
	<div class="characters">
		<a href="/characters/search">SEARCH FOR A CHARACTERS</a>
		<br/ >
		<button class="button-primary"><a href="/characters/home">Favorite Characters</a></button>
	</div>
	<div id="characters-list">
		{{#characters}}
		<img src="{{thumbnail}}" alt="">
		<br/ >
		{{name}}
		<br/ >
		{{description}}
		<br/ >

	
		<button id="delete-character" data-id={{id}} class="button-primary">DELETE</button>
	

		<br/ >
		<br/ >
		{{/characters}}
	</div>
</div>

<br/ >

<div id="books-section">
<div class="books">
	<a href="/books/search">SEARCH FOR A COMIC BOOKS</a>
	<br/ >
	<button class="button-primary"><a href="/books/home">Favorite Books</a></button>
	</div>
	<br />
	<div id="books-list">
		{{#books}}
		<br/ >
		<img src="{{thumbnail}}" alt="">
		<br/ >
		{{title}}
		<br/ >
		{{description}}
		<br/ >

<button  id="delete-book" data-id={{id}} class="button-primary">DELETE
</button>
		<br/ >
		{{/books}}
		
	</div>
</div>
<br/ >
	<button><a href="/" class="logout">Logout</a></button> 

</body>
</html>