<html>
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div>
      <h1 class="text-center">Marvel Companion</h1>
      <form action="/user/login" method="post">
        <input placeholder="username" name="user[email]" type="text"/>
        <input placeholder="password" name="user[password]" type="text"/>
        <input type="submit" value="Login">
      </form>

      <div class="text-center">
        <a href="/user/new"><small>Sign Up</small></a>
      </div>
    </div>
  </body>
</html>