<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EDIT</title>
</head>
<body>
	<h1>EDIT</h1>
  <div class="characters">
      <form action="/characters/home" method="POST">
        <input type="hidden" value={{id}}>

  <input placeholder="thumbnail" type="text" value="{{thumbnail.path}}{{thumbnail.extension}}" name="thumbnail" data-id={{id}}>
  <br/ >
        
  <input placeholder="name" type="text" value="{{name}}" name="name" data-id={{id}}>
  <br/ >

  <input placeholder="description" type="text" value="{{description}}" name="description" data-id={{id}}>
  <br/ >
        <input type="submit" name="">

  </div>

</form>

</body>
</html>