<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='/css/charactersearch.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

	<title>Characters</title>
</head>
<body>
	<h1>Search for a character</h1>	


   <form action="/characters/show" method="POST">
 <input placeholder="Enter Name" name="input" type="text"/>
      <input type="submit" value="Search">
   </form>

   <!-- {{#characters}}
	<div>
		<div name="image"><img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt=""></div>
		<div>{{id}}</div>
		<div>{{name}}</div>
		<div>{{description}}</div>
 -</div>
	{{/characters}}

	<button>Favorite</button> -->
<button class="button-primary"><a href="/home">Back</a></button>

	<!-- logout to index.html (landing page) -->
	<button class="button-primary"><a href="/" class="logout">Logout</a></button> 


</body>
</html>