<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Character</title>

  <link rel='stylesheet' href='/css/showcharacters.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  <script src="./public/js/jquery.js"></script>
  <script src="./public/js/books.js"></script>
</head>
<body>

    {{#characters}}
  <div class="characters">
      <form action="/characters/home" method="POST">
        <input type="hidden" value="{{thumbnail.path}}.{{thumbnail.extension}}" name="thumbnail">
        <input type="hidden" value="{{id}}" name="id">
        <input type="hidden" value="{{name}}" name="name">
        <input type="hidden" value="{{description}}" name="description">


    <div name="image"><img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt=""></div>
    <div>{{id}}</div>
    <div>{{name}}</div>
    <div>{{description}}</div>
 -</div>

<!--         <input placeholder="Enter Name" name="input" type="text">
 --><!--        <input type="submit" value="Search">
 -->  <button class="button-primary">Favorite</button>
</form>
  {{/characters}}

<button><a href="/characters/Search">Back</a></button>

  <!-- logout to index.html (landing page) -->
  <button class="button-primary"><a href="/" class="logout">Logout</a></button> 
<!--   <header>
    <h1>Search for Characters</h1>
  </header>
  <div class="container">
    <div class="search-container">
      <label>Name:</label>
      <input type="text" id="name" />
      <button id="submit">Search</button>
    </div>
    <div id="result">
    </div>
  </div> -->
</body>
</html>