<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel='stylesheet' href='/css/booksearch.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

	<title>Books</title>
</head>
<body>
	<h1>Search for a book</h1>	

	<!-- <input type="text" id="show_search" />
  <button id="submit">Search</button> -->

   <form action="/books/show" method="POST">
          <input placeholder="Enter Title" name="input" type="text"/>
          <input type="submit" value="Search">
   </form>

<!--    {{#books}}
	<div>
		<div><img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt=""></div>
		<div>{{title}}</div>
		<div>{{description}}</div>
		<div>{{prices}}</div>
	</div>
	{{/books}}

<button>Favorite</button> -->
<button class="button-primary"><a href="/home">BACK</a></button>
	<!-- logout to index.html (landing page) -->
	<a href="/" class="logout">Logout</a> 

</body>
</html>